# IDE
.idea/

# Pipenv lock file
Pipfile.lock

# sqlite database file
db.sqlite3

# vscode config files
/ui/.vscode/

# node dependencies
/ui/node_modules
/ui/package-lock.json

# cache files
movies/__pycache__/
movies/api/__pycache__/
movies/api/migrations/__pycache__/