[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene-django = "*"
django = "*"
django-extensions = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
